body {
  background-color: black;
  text-align: center;
  font-family: "Verdana", sans-serif;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

.download_link {
  color: Aquamarine;
  font-size: 16px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
}

p, .footer {
  color: Gray;
}

.footer{
  text-align: right;
}


h1, h2 {
  color: white;
}
